@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
/* font-family: 'Libre Baskerville', serif; */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #0e0136;
  text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #0e0136;
  }

p {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  color: #0e0136;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #0e0136;
  text-align: center;
  background-color: white;
  padding: 2rem;
  margin-bottom: 0;
}

.article img {
  border-radius: 2rem;
  border-style: solid;
  border-color: black;
  text-align: center;
  max-width: 90%;
}

.card img {
  border-radius: 2rem;
  border-style: solid;
  border-color: black;
}

h3 {
  font-size: 1.5rem;
}





/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0rem;
  padding: 0;
  background-color: #3de6c9;
  text-align: center;
}



.masthead img{
  width: 100%;
  height: auto;
  text-align: center;  
}

.nav-bar {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7rem;
  background-color: #0e0136;
  padding: 1rem;
}

.nav-bar a:hover {
  color:#3de6c9;
}

.nav-bar a:focus {
  background-color:#3de6c9;
  color: #0e0136;
  padding-right: 2rem;
  padding-left: 2rem; 
}



.nav-bar a {
  text-decoration: none;
  color: white;
}

.card {
  padding: 2rem;
}

/* Footer styles */
footer {
  color: #3de6c9;
  padding: 2rem;
  background-color: #0e0136;
}

.social-media img {
  padding-right: 1rem;
  max-width: 4rem;
  
}

.company-info {
  font-family: 'Lato', sans-serif;
  color: #3de6c9;
}

/* Media Queries */
@media (min-width: 35rem) {
  .nav-bar {
      flex-direction: row;
      justify-content: center;
  }
}

@media (min-width: 80rem) {
  body {
      margin: 0;
  }
}
/* Mobile View */
body {
  font-size: 0.75rem;
  line-height: 1.5;
}

header .logo,
.nav-bar,
.masthead,
#main-content,
footer {
  text-align: center;
  width: 100%;
}

.nav-bar .nav-item {
  display: block;
}

footer .social-links a,
.footer .company-info p {
  display: inline-block;
}


/* Tablet View */
@media (min-width: 35rem) and (max-width: 80rem) {
  .nav-bar {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
    gap: 15rem;
    background-color: #0e0136;
    padding: 1rem;
  }
.nav-bar a:focus {
    background-color:#3de6c9;
    color: #0e0136;
    padding-right: 10rem;
    padding-left: 10rem; 
  }
  
  
  body {
      font-size: 1rem;
  }

  .nav-bar {
      display: flex;
      justify-content: center;
  }

.nav-bar .nav-item {
      display: inline;
  }

  .article {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .article img {
    max-width: 70%;
  }
    .article01 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      column-gap: 2rem;
    }
    
    .article01 #text{
      grid-column: 1/2;
      grid-row: 1/2;
    }

    .article01 p{
      grid-column: 2/3;
      grid-row: 1/2;
      padding-top: 3rem;
      text-align: left;
    }
  
  
    .article02 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      column-gap: 2rem;
    }
    
    .article02 #text{
      grid-column: 2/3;
      grid-row: 1/2;
      text-align: right;
    }
    .article02 p{
      grid-column: 1/2;
      grid-row: 1/2;
      padding-top: 3rem;
      text-align: right;
    }
  
}

/* Desktop View */
@media (min-width: 80rem) {
.nav-bar {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    display: flex;
    flex-direction: row;
    gap: 40rem;
    background-color: #0e0136;
    padding: 1rem;
  }
.nav-bar a:focus {
    background-color:#3de6c9;
    color: #0e0136;
    padding-right: 20rem;
    padding-left: 20rem; 
  }
  
  body {
      font-size: 1.25rem;
  }

  header .logo,
  .nav-bar,
  .masthead,
  #main-content,
  footer {
      text-align: left;
  }

  .nav-bar .nav-item {
      display: inline;
  }

.article {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
  .article01 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
  }
  
  .article01 #text{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .article01 p{
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 6rem;
  }


  .article02 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 2rem;
  }
  
  .article02 #text{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .article02 p{
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 6rem;
    text-align: right;
  }


  .card-container  {
    column-count: 3;
    text-align: center;
  }
  
}
