<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loaded Content by Ajax</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<div class="article">
<article class="article01" id="1">
    <div id="text">
        <h2>BRANDING</h2>
        <img src="img/branding.jpg" alt="Branding Image">
    </div>
    <div>
    <p>Develop your brand visually appealing from our designers. Planning strategically with good
        storytelling techniques to deliver the
        message visually to the audience.Strengthen your product's / services
        accessibility through the help of
        mobile apps. Plan and reach your Marketing goals
        through various services offered. Develop your brand visually appealing from our designers. Planning strategically with good
        storytelling techniques to deliver the
        message visually to the audience.Strengthen your product's / services
        accessibility through the help of
        mobile apps. Plan and reach your Marketing goals
        through various services offered. </p>     
    </div>
</article>
<article class="article02">
    <div id="text">
        <h2>ILLUSTRATION</h2>
        <img src="img/illustration.jpg" alt="Illusrtation Image">
    </div>
    <div>
    <p>Let us create abstract and unique
        designs of your product to boost
        the brand's value. Let us create abstract and unique
        designs of your product to boost
        the brand's value. Let us create abstract and unique
        designs of your product to boost
        the brand's value. Let us create abstract and unique
        designs of your product to boost
        the brand's value. Let us create abstract and unique
        designs of your product to boost
        the brand's value.Let us create abstract and unique
        designs of your product to boost
        the brand's value.Let us create abstract and unique
        designs of your product to boost
        the brand's value.Let us create abstract and unique
        designs of your product to boost
        the brand's value.</p>     
    </div>
</article>
<article class="article01">
        <div id="text">
            <h2>MOTION GRAPHICS</h2>
            <img src="img/motiongraphics.jpg" alt="Motion Graphics Image">
        </div>
        <div>
        <p>Create a visually mesmerizing motion
            designs using latest trends. Create a Professional Video using good
            storytelling techniques and editing
            skills We come up with strategic ideas to
            connect with your audience to sell
            your product or service. Create a visually mesmerizing motion
            designs using latest trends. Create a Professional Video using good
            storytelling techniques and editing
            skills We come up with strategic ideas to
            connect with your audience to sell
            your product or service. Create a visually mesmerizing motion
            designs using latest trends. Create a Professional Video using good
            storytelling techniques and editing
            skills We come up with strategic ideas to
            connect with your audience to sell
            your product or service.</p>     
        </div>
</article>
</div>
