<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loaded Content by Ajax</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<h1>PORTFOLIO</h1>
<div class="card-container">
    <div class="card">
        <img src="img/brandingportfolio.jpg" alt="Thumbnail 1">
        <h3>Name 1</h3>
    </div>
    <div class="card">
        <img src="img/illustrationportfolio.jpg" alt="Thumbnail 2">
        <h3>Name 2</h3>
    </div>
    <div class="card">
        <img src="img/brandingportfolio.jpg" alt="Thumbnail 3">
        <h3>Name 3</h3>
    </div>
    <div class="card">
        <img src="img/illustrationportfolio.jpg" alt="Thumbnail 4">
        <h3>Name 4</h3>
    </div>
    <div class="card">
        <img src="img/brandingportfolio.jpg" alt="Thumbnail 5">
        <h3>Name 5</h3>
    </div>
    <div class="card">
        <img src="img/illustrationportfolio.jpg" alt="Thumbnail 6">
        <h3>Name 6</h3>
    </div>
    </div>
